@model CarDealer.Models.BindingModels.EditCustomerBindingModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buttons {
        margin: auto 10px auto 10px;
        width: 100px;
        padding: 5px;
    }
</style>

<h1 style="text-transform: uppercase" class="text-capitalize text-center text-primary">Edit a existing Customer on Database</h1>

<form action="Add.cshtml" method="POST">
    <input type="number" value="@Model.Id" name="Id" hidden="hidden" />
    <div class="form-group">
        <label for="Name" class="col-form-label">Customer name: </label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name"/>
    </div>
    <div class="form-group">
        <label for="BirthDate" class="col-form-label">Customer birth date: </label>
        <input type="date" class="form-control" id="BirthDate" name="BirthDate" value="@Model.BirthDate.ToString("yyyy-MM-dd")"/>
    </div>
    <br/>
    <input type="submit" value="Add customer" class="btn btn-success buttons"/>
    <input type="reset" value="Clear" class="btn btn-danger buttons"/>
</form>