@{
    ViewBag.Title = "ClearAll";
    Layout = "~/Views/Shared/_Layout_LoggedUser.cshtml";
}

<style>
    h2 {
        margin-bottom: 20px;
    }

    .buttons {
        margin: auto 10px auto 10px;
        width: 120px;
        padding: 5px;
        font-size: 15px;
    }
</style>

<h1 style="text-transform: uppercase" class="text-capitalize text-center text-primary">Clear all Logs</h1>
<h2>Are you sure you want to delete all logs?</h2>

@using (Html.BeginForm())
{
    <a class="btn btn-success buttons" href="~/logs/all/1">Cancel</a>
    <input type="submit" class="btn btn-danger buttons" value="Clear all logs" />
}