@using CarDealer.Models.ViewModels
@model DeleteLogViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_LoggedUser.cshtml";
}

<style>
    h2 {
        margin-bottom: 20px;
    }
     .buttons {
         margin: auto 10px auto 10px;
         width: 120px;
         padding: 5px;
         font-size: 15px;
     }
</style>

<h1 style="text-transform: uppercase" class="text-capitalize text-center text-primary">Delete a Log</h1>
<h2>Are you sure you want to delete log from <b><i><span class="text-danger">@Model.Time</span></i></b> by <b><i><span class="text-danger">@Model.User</span></i></b> ?</h2>

<form method="POST">
    <input type="number" name="Id" value="@Model.Id" hidden="hidden" />
    <div class="form-group">
        <label for="User" class="col-form-label">Log for user: </label>
        <input type="text" class="form-control" id="User" name="User" value="@Model.User" readonly="readonly" />
    </div>
    <br />
    <a class="btn btn-success buttons" href="~/logs/all">Cancel</a>
    <input type="submit" class="btn btn-danger buttons" value="Delete Log" />
</form>

